<%= form_with model: publication do |form| %>
  <p class="mb"><%= form.label :post_title, 'Название блога' %></p>
  <p class="mb"><%= form.text_field :body, class: 'form-text-area'  %></p>
  <p class="mb"><%= form.label :body, 'Текст блога'%></p>
  <p class="mb"><%= form.text_area :post_title, rows: 5, class: 'form-text-area'%></p>

  
  
  <p><%= form.submit 'Сохранить', class: 'button button-main' %></p>
<% end %>
