<div class="mb-sm"> 
  <%= publication.body %>
</div>

<div class="text-sm publication-footer">
  <div class="text-gray"> 
    <%= l(publication.created_at, format: :short)%>
  </div>

  <div> 
    <%= link_to fa_icon('eye'), publication_path(publication), 
    method: :show, title: 'Открыть блог' %>
    <%= link_to fa_icon('pencil'), edit_publication_path(publication), 
      title: 'Редактировать блог' %>
    <%= button_to fa_icon('trash-o'), publication_path(publication), 
      method: :delete, title: 'Удалить блог' %>
  </div>
</div>


