<div class="container mb-sm">  
  <p>
    <%= link_to 'Написать новый блог', new_publication_path, class: 'button button-main' %>
  </p>
</div>

<div class="container">
  <h2 class="title-lg">Блоги</h2>  
</div>

<% @publication.each do |publication| %>
  <div class="mt-sm container">
    <%= render publication%>
  </div>
<% end %>