<div class="container">

  <h2 class="title-lg_show mb"><%= render 'publication', publication: @publication %></h2>
  <%= @publication.post_title %>

  <p  class="mt"><%= link_to "Все блоги", publications_path %></p>
</div>