.button{
  border: 0;
  border-radius: 3px;
  color: #fff;
  display: inline-block; 
  font-size: 14px;
  padding: 8px 13px 7px; 
  text-decoration: none; 
}


.button-main{
  background-color: #9D0208;
}
