.message {
  border: 1px solid #e0e0e0;
  padding: 10px 15px;
}

.message-notice {
  background-color: #fff;
  border-color: #ffba80;
}

.message-alert {
  background-color: #ffd2d2;
  border-color: #d00000;
}