body {
  color: #03071E;
  font-family: 'Trebuchet MS', sans-serif;
}

a, button{
  color: #DC2F02;
}

.title-lg {
  font-size: 175%;
}

.title-lg_show{
  font-size: 120%;
}

.title-md, .title {
  font-size: 150%;
}

.title-sm {
  font-size: 125%;
}

.text-sm{
  font-size: 80%;
}

.text-gray{
  color: #e0e0e0
}
